*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../img/megane.jpg);
    background-size: cover;
}
div{
    float: left;
    position: relative;
    width: 50%;
    min-height: 20em;
    background-color: rgba(0, 0, 0, 0.9) ;
    margin: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1em;
    justify-content: center;
    align-items: center;
}

h1{
    text-transform: uppercase;
    color: salmon;
    font-family: 'Audiowide', cursive;
}

form{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

input{
    width: auto;
    height: 2em;
    margin: 4%;
    font-size: 1em;
}
input[type="image"]{
    height: 85px;
}

table{
    width: 60%;
    color:white;
    margin: 3%;
    font-size: large;
    border-bottom: rgba(250, 128, 114, 0.5) solid 1px;
}

tr{
    border-color: white solid 1px;
}

td{
    /* border-bottom: salmon solid 1px; */
}